**/.gradle/
**/build/
**/run/
**/run-*/
**/.idea/
**/.vscode/
*.iml
**/logs/
**/crash-reports/
**/libs/
**/repo/
**/out/
**/.classpath
**/.project
**/.settings/
.env
.env.*
*.key
*.pem
*.log
*.log.gz
hs_err_pid*
